<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="technologyForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Technology</label>
          <input
            class="form-control"
            type="text"
            formControlName="technology"
          />
          <!-- error -->
          <!-- <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['technology'].errors?.['required']"
          >
            Technology is required.
          </div> -->
          <div
            *ngIf="
            submitted &&
            technologyForm.get('technology').errors 
            "
          >
            <small
              class="text-danger"
              *ngIf="technologyForm.get('technology').hasError('required')"
              
            >
              This field is required.
            </small>
          </div>
        </div>
        <!-- *ngIf="
            technologyForm.get('technology').invalid &&
            technologyForm.get('technology').errors &&
              (technologyForm.get('technology').dirty || technologyForm.get('technology').touched) 
            " -->
        <!-- *ngIf="technologyForm.get('technology').hasError('required')" -->
        <!-- <div class="form-group">
          <label for="inputName">Qaulification Detail</label>
          <input class="form-control" type="text" formControlName="qaulificationd" />
          
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['qaulificationd'].errors?.['required']"
          >
            Qaulification Detail is required.
          </div>
        </div> -->

        <!-- <div class="form-group">
          <label for="inputEmail3">Email</label>
          <input class="form-control" type="text" formControlName="email" />
          
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['email'].errors?.['required']"
          >
            Enter your email.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['email'].errors?.['pattern']"
          >
            Enter valid email.
          </div>
        </div> -->

        <!-- <div class="form-group">
          <label for="inputPassword3">Designation</label>
          <select
            class="custom-select form-control"
            (change)="updateProfile($event.target.value)"
            formControlName="designation"
          >
            <option value="">Choose...</option>
            <option
              *ngFor="let employeeProfile of EmployeeProfile"
              value="{{ employeeProfile }}"
            >
              {{ employeeProfile }}
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['designation'].errors?.['required']"
          >
            Choose designation.
          </div>
        </div> -->

        <!-- <div class="form-group">
          <label for="inputVerify3">Mobile No</label>
          <input
            class="form-control"
            type="text"
            formControlName="phoneNumber"
          />
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['phoneNumber'].errors?.['required']"
          >
            Enter your phone number.
          </div>
          <div
            class="invalid-feedback"
            *ngIf="submitted && myForm['phoneNumber'].errors?.['pattern']"
          >
            Enter Numbers Only
          </div>
        </div> -->

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- form card register -->
</div>
